* {
	padding: 0px;
	margin: 0px;
}

.warp {
	width: 1000px;
	margin: 0 auto;
	background: #F6F6F6;
}

.content {
	width: 1000px;
}

.menu {
	height: 70px;
	margin-top: 1px;
	background-color: white;
}

.menu_left {
	float: left;
	width: 250px;
}

.menu_right {
	float: left;
	width: 700px;
	margin-left: 10px;
}

.menu_right li {
	float: left;
	list-style: none;
	line-height: 70px;
	width: 100px;
	text-align: center;
	font: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
}

.redback {
	width: 100px;
	height: 70px;
	background-color: #DA0A0A;
}

.menu_right li a:link,
.menu_right li a:visited {
	text-decoration: none;
	color: black;
}

.menu_right li a:hover,
.menu_right li a:active {
	text-decoration: none;
	color: red;
}

.img_ad{
	height: 300px;
}

.roll_news{
	background-color: white;
	height: 40px;
	margin-top: 10px;
}

.roll_news_left{
	height:40px;
	width: 150px;
	background-color: #DC143C;
	color: white;
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
}

